{% load static %}
<header class="header sticky-bar bg-gray-900">
      <div class="container">
        <div class="main-header">
          <div class="header-logo"><a class="d-flex" href="base.html"><img class="logo-night" alt="GenZ" src="{% static 'assets/imgs/template/logo.png' %}"><img class="d-none logo-day" alt="GenZ" src="assets/imgs/template/logo-day.svg"></a></div>
          <div class="header-nav">
            <nav class="nav-main-menu d-none d-xl-block">
              <ul class="main-menu">
                <li class="menu-item"><a class="active" href="base.html">Home</a>
                <li class="menu-item"><a class="color-gray-500" href="page-about.html">About Me</a>
                </li>
                <li class="menu-item"><a class="color-gray-500" href="portfolio.html">Portfolio</a>
                <li class="menu-item"><a class="color-gray-500" href="#">Category</a>
                </li>
                <li><a class="color-gray-500" href="page-contact.html">Contact</a></li>
              </ul>
            </nav>
            <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
          </div>
          <div class="header-right text-end"><a class="btn btn-search" href="#"></a>
            <div class="form-search p-20">
              <form action="#">
                <input class="form-control" type="text" placeholder="Search">
                <input class="btn-search-2" type="submit" value="">
              </form>
              <div class="popular-keywords text-start mt-20">
                <p class="mb-10 color-white">Popular tags:</p><a class="color-gray-600 mr-10 font-xs" href="#"># Travel,</a><a class="color-gray-600 mr-10 font-xs" href="#"># Tech,</a><a class="color-gray-600 mr-10 font-xs" href="#"># Movie</a><a class="color-gray-600 mr-10 font-xs" href="#"># Lifestyle</a><a class="color-gray-600 mr-10 font-xs" href="#"># Sport</a>
              </div>
            </div>
            <div class="switch-button">
              <div class="form-check form-switch">
                <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
              </div>
            </div><a class="btn btn-linear d-none d-sm-inline-block hover-up hover-shadow" href="page-login.html">Subscribe</a>
          </div>
        </div>
      </div>
    </header>